

body {
    display: flex;
    height: 100vh;
    align-items:center;
    justify-content: center;
    margin: 0;
    overflow: hidden;

}
.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1322277517/photo/wild-grass-in-the-mountains-at-sunset.jpg?s=612x612&w=0&k=20&c=6mItwwFFGqKNKEAzv0mv6TaxhLN3zSE43bWmFN--J5w=');
    background-positon: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(10px);
    position: absolute;
    z-index: -1;
}

.loading-text{
    font-size: 50px;
    color: dark;
}